div.clear{
    clear:both;	
}

body{
	background-image:url("../images/body.png");
}

.boxshadow{
	box-shadow:0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,.4);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,.4);
}
.round{
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.roundtop{
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
}
.roundbottom{
	border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
}

.wrapper{
	width:960px;
	margin:0 auto 10px;

}
.header{
	height:105px;
	position:relative;
	background:url("../images/logo.png") no-repeat left bottom;
	overflow:auto;
}

.header .nav{
	position:absolute;
	right:0;
	bottom:0;
}

.nav ul{
	margin:0;
	padding:0;
	overflow:auto;	
}

.nav ul li{
	float:left;
}

.nav ul li a{
	display:block;
	padding: 12px 16px;
	text-decoration:none;
	color:#fff;
	background-color:#FF7800;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	border-right:1px solid rgba(255,255,255,0.5);
	text-transform:capitalize;
}
.nav ul li:first-child a{
	border-top-left-radius:10px;
}
.nav ul li:last-child a{
    border-right:none;
	border-top-right-radius:10px;
}

.nav ul li a:hover{
	background-color: #333;
}

.content{
	padding:10px 20px;
	background-color:#1d1d1d;
	color:#f3f3f3;
	width: 920px;
	min-height:700px;
}
	
.content .lc{
	width:650px;
	float:left;    
}

.content .lc h2{
	margin-bottom:5px;
	display:block;
	font-family:'Maven Pro',cursive;
	font-size:14px;
	line-height:20px;
	font-weight:normal;
	text-transform:uppercase;
	text-shadow:0 1px 1px #666;
	background-color:#2b2b2b;
	/*border:1px solid #666;*/
	padding:6px 10px;
	border-radius:10px;
	box-shadow:0 0 3px #666;
}

.lc h2 span.date,.preview h3 span.date {
    color: #8f8f8f;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
}

.lc span.date::before,.preview h3 span.date::before {
    content: "(";
    color: #8f8f8f;
}

.lc span.date::after,.preview h3 span.date::after {
    content: ")";
    color: #8f8f8f;
}

.lc h2 span.price,.content .lc h2 span.np,.preview h3 span.price,.preview h3 span.np{
	float:right;
	color:#fff;
}

.lc h2 span.price, .lc .product .preview h3 span.price{
	color:#ff7800;
	text-decoration:line-through;
	margin-right:10px;
}

.content .rc{
	width: 260px;
	float: left;
	margin: 0 0 0 10px;   
}

.content .rc h2{
	margin-bottom: 7px;
	display: block;
	font-family: Arial,Verdana,sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	text-transform: uppercase;
	text-shadow: 0 1px 1px #666;
	background-color: #2b2b2b;
	border:1px solid #2b2b2b;
	padding: 6px 10px;
	border-radius: 5px;
	box-shadow: 0 0 3px #666;
	text-align: center;
	cursor:pointer;
}

.content .rc h2.active,.content .rc h2:hover:not(.active){
	border: 1px solid #666;
}

.content .rc ul{
	margin:0;
	padding:0;
}

.content .rc ul li a{
	display:block;
	background-color:#363636;
	text-decoration:none;
	color:#fff;
	margin: 6px 5px;
	font-family: Arial,Verdana,sans-serif;
	font-size: 14px;
	line-height: 20px;
	text-transform: capitalize;
	text-shadow: 0 1px 1px #666;
	border: 1px solid #363636;
	padding: 6px 10px;
	border-radius: 5px;
	box-shadow: 0 0 3px #666;
	text-align: center;
}

.content .rc ul li a:hover{
	border:1px solid #666;
}

.content table.info_table {
	margin:10px;
	width:630px;
}

.content table.info_table tr th{
	color:#FFF;	
	font-family: 'Maven Pro',cursive;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	text-transform: capitalize;
	text-shadow: 0 1px 1px #666;
	background-color: #2b2b2b;
	border: 1px solid #666;
	padding: 6px 10px;
	box-shadow: 0 0 3px #666;
}

.content table.info_table tr th:first-child{
	border-right:1px dashed #FCFCFC;
	}
	

	
.content table.info_table tr{
	border-bottom:1px solid #FFF;
	}
	

	
.content table.info_table tr:last-child{
	border-bottom:none;
	}

.content table.info_table tr{
	background-color:#363636;
	}

.content table.info_table tr:hover{
	background-color:#2b2b2b;
}
	
.content table.info_table tr td{
	padding:5px;
	font-family:Verdana,Geneva, sans-serif;
	font-size:12px;
	line-height:20px;
	color:#FFF;
	border:1px dashed #FCFCFC;
	vertical-align:middle;
	text-align:center;
	}
	
.content table.info_table tr td:first-child{
	/*border-right:1px dashed #FCFCFC;*/
	text-align: center;
	}

/* ACTION LINKS */	
.content .info_table tr td ul.action_link {
	display: block;
	height: 18px;
}

.content .info_table tr td ul.action_link li {
	width:20px;
	height:18px;
	display:block;
	float:left;
	margin-right:5px;
	margin-left: 5px;
	}
	
.content .info_table tr td ul.action_link li a{
	width:20px;
	height:18px;
	text-indent: -9999px;
	display:block;
	}


ul.action_link li a.del{background:url(../images/delete.png) no-repeat center center;}
ul.action_link li a.up{background:url(../images/up.png) no-repeat center center;}
ul.action_link li a.down{background:url(../images/down.png) no-repeat center center;}

.product{
	box-shadow:0 0 3px #666;
	background-color:#2b2b2b;
	margin:5px 0;
	padding:10px;
	width:630px;
}

.lc .product img{
	height:140px;
	width:150px;
	float:left;
}

.lc .product .preview {
	margin-left:10px;
	float:left;
	width:465px;
}

.lc .product .preview h3 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: normal;
    font-size: 14px;
    display: block;
    line-height: 16px;
    margin-bottom: 5px;
}

.lc .product .preview p,.lc .product p{
	text-align:justify;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height:16px;
}

.lc .product .preview p:last-child{
	margin-bottom:10px;
}

.lc .product a {
    font-size: 12px;
    line-height: 12px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    float: right;
    display:block;
    background-color: #3b3b3b;
    border-radius:10px 0 10px 0;
	padding:5px 15px;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 3px #666;
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    margin-right:10px;
}

.lc .product a:hover{
	color:#ff7800;
}

div.img {
	margin: 5px 0 5px 5px;
	float: left;
	width: 180px;
	padding: 15px;
	background-color: #2b2b2b;
	border-radius: 2px;
	box-shadow: 0 0 3px #666;
	color: #fff;
}	

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 5px;
	overflow:auto;
}

div.desc h3{
    font-size:12px;
    line-height:16px;
    text-transform:uppercase;
    font-weight:normal;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin:5px 0;	
}

div.desc span{
    margin-right:5px;
	float:left;
	padding:5px 0;
	font-size: 14px;
	font-family: Arial,Helvetica,sans-serif;
	line-height: 12px;
}

div.desc span.del{
    text-decoration:line-through;
	color:#FF7800;
}


div.desc a{
	font-size:12px;
	line-height:12px;
	font-family:Arial,Helvetica,sans-serif;
	float:right;
	background-color:#3b3b3b;
	padding:5px 7px;
	border-radius:5px;
	color:#fff;
	text-decoration:none;
	box-shadow:0 0 3px #666;
	transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
}

div.desc a:hover{
	border-radius:10px 0 10px 0;
	color:#ff7800;
}

div.footer{
	background-color:#1d1d1d;
	height:40px;
	border-top:1px solid #333;
	overflow:auto;
	padding:10px;
	border-radius: 0 0 5px 5px;
}

div.footer ul{
	overflow:auto;
	float:left;
	min-width:400px;
}

div.footer ul li{
	float:left;
	margin-left: 15px;
}

div.footer ul li a{
	font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
	display: block;
    background-color: #2b2b2b;
    box-shadow: 0 0 3px #666;
    border-radius: 5px;
    padding: 6px;
    transition: all 0.2s ease; 
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

div.footer ul li a:hover{
	color:#ff7800;
}

div.footer p{
	float:right;
	margin: 0px;
	font-family: Verdana,Tahoma, Geneva, sans-serif;
	font-size: 11px;
	color: #ccc;
}

div.footer p a {
    text-decoration: none;
    color: #f3f3f3;
}

div.footer p a::before {
    content: "(";
}

div.footer p a::after {
    content: ")";
}

div.footer p a:hover{
	text-decoration: underline;
}


.contact {
    background-color: #2b2b2b;
    border-radius: 5px;
    box-shadow: 0 0 3px #666;
    padding: 10px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #8f8f8f;
}

.contact form {
    background-color: #363636;
    width: 580px;
    margin: 20px 7px;
    padding: 20px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    box-shadow: 0 0 3px #666;
}

.contact form label{
	cursor:pointer;
}
.contact form input[type=text],.contact form input[type=email],.contact form input[type=password],.contact form textarea {
	color: #333;
	width: 350px;
	padding: 2px;
	color:#CCCCCC;
	background-color:#2b2b2b;
	outline:none;
	margin:0 0 2px 20px;
	border:none;
}
.contact form table tr td{vertical-align: top;}

.contact form textarea {
	height: 100px;
	color:#CCCCCC;
	overflow:auto;
	resize: none;	
}
.contact form .btn{
	font-size:12px;
	line-height:14px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	float:right;
	margin:10px 5px;
	background-color:#3b3b3b;
	padding:3px 10px;
	border-radius:5px;
	cursor:pointer;
	color:#fff;
	border:none;
	text-decoration:none;
	box-shadow:0 0 3px #666;
	transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
}
.contact form .btn:hover{
	color:#ff7800;
}
/*** Pagination start ****/
.pagination {
    background: #3b3b3b;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
    color: #feffff;
    padding: 5px 10px;
    border-radius:5px;
}
.pagination .paginate,.pagination .paginateleft{
	float: left;
}
.pagination .numbs,.pagination .paginateright{
	float:right;
}
.pagination .paginateleft,.pagination .paginateright{
	margin-top:2px;
	padding:2px;
}
.pagination  .dropdown{
    display: inline-block;
    padding: 1px;
    margin-right: 2px;
    border-radius: 3px;
	font-family:Verdana, Geneva, sans-serif;
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    background: #3b3b3b;
    color: #feffff;
    text-shadow: 0px 1px 0px rgba(0,0,0, .5);
}
.page {
    display: inline-block;
    padding: 2px 9px;
    margin-right: 2px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: normal;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.page.dark {
    border: solid 1px #32373b;
    background: #3e4347;
    box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
    color: #feffff;
    text-shadow: 0px 1px 0px rgba(0,0,0, .5);
}

.page.dark:hover, .page.dark.gradient:hover {
    background: #3d4f5d;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
    background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);
}

.page.dark.active {
	font-weight:bold;
    border: none;
    background: #2f3237;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .1);
}

.page.dark.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f), to(#3e4347));
    background: -moz-linear-gradient(0% 0% 270deg,#565b5f, #3e4347);
}

