
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background:url(../images/bg.png) repeat fixed;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
label{
	cursor:pointer;
}
.clear{
	clear:both;
}
.boxshadow{
	box-shadow:0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,.4);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,.4);
}
.round{
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.roundtop{
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
}
.roundbottom{
	border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
}
.wrapper{
	width:960px;
	margin:10px auto;
	background:url(../images/cbg.png) repeat-x top left;
	border:1px solid #f3f3f3;
}
.wrapper .header{
	height:60px;
	position:relative;
	background-size:100% 100%;
}
.wrapper .header h2{
	float:left;
	margin:12px 20px 0;
	text-transform:capitalize;
	font-size:28px;
	line-height:35px;
	color:#fff;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-shadow: 1px 1px 3px #F0F0E1;
}
.wrapper .header .topnav{
	position:absolute;
	top:10px;
	right:10px;
	padding:0 10px;
	background:url(../images/navbg.png) repeat-x;
	background-size:100% 100%;
	border:1px solid #3fa9f5;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
.wrapper .header .topnav ul li{
	list-style-type:none;
	display:inline;
}
.wrapper .header .topnav ul li a{
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 16px;
	margin:0 5px;
	padding:8px;
	border-radius:5px;
	color:#fff;
	text-decoration:none;
}
.wrapper .header .topnav ul li a:hover{
	background:url(../images/hover.jpg) no-repeat;
	background-size:100% 100%;
}
.wrapper .content{
	margin-top:5px;
	padding-top:5px;
	padding-bottom:5px;
	background:url(../images/cbg.png) repeat-x top left;
	background-size:100% 100%;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
.content h2{
	font-family:Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 16px;
	color:#f3f3f3;
	font-weight:normal;
	text-transform: uppercase;
	background-color:#3fa9f5;
	display:block;
	margin-bottom:5px;
	padding:5px 10px;
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
}
.wrapper .content .lc{
	float:left;
	width:200px;
}
.content .lc .sidenav{
	margin:0 10px 5px;
	padding-bottom:5px;
	background-color:#F0F0E1;
	box-shadow: 0 0 3px #2991e0;
}
.content .lc .sidenav ul li{
	display:block;
	margin-left:20px;
}
.content .lc .sidenav ul li a{
	display:block;
	text-decoration:none;
	font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;
	line-height: 18px;
	padding-left:5px;
	border-radius:5px;
	color:#000;
	text-decoration:none;
	transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
}
.content .lc .sidenav ul li a:hover{
	background: url(../images/ahover.png) no-repeat left center;
	padding-left:22px;
	/*color:#3fa9f5;*/	
}
.content .rc{
	background-color:#F0F0E1;
	float:left;
	min-height:696px;
	width:750px;
}

/***** Right content start **********/
/* CONTENT _ TABLE */
.content table.info_table {
	margin:10px;
	
}

.content table.info_table tr th{
	background-color:#1e89fb;
	line-height:25px;
	font-family:Verdana,Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#FFF;
	}

.content table.info_table tr th:first-child{
	border-right:1px dashed #FCFCFC;
	}
	

	
.content table.info_table tr{
	border-bottom:1px solid #FFF;
	}
	

	
.content table.info_table tr:last-child{
	border-bottom:none;
	}

.content table.info_table tr:nth-child(even){
	background-color:#F5F5EB;
	}

.content table.info_table tr:hover{
	cursor:pointer;
	background-color:#FBFBFB;
	}
	
.content table.info_table tr td{
	padding:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:20px;
	color:#000;
	border:1px dashed #FCFCFC;
	vertical-align:middle;
	text-align:center;
	}
	
.content table.info_table tr td:first-child{
	/*border-right:1px dashed #FCFCFC;*/
	text-align: center;
	}

/* ACTION LINKS */	
.content .info_table tr td ul.action_link {
	display: block;
	height: 18px;
}

.content .info_table tr td ul.action_link li {
	width:20px;
	height:18px;
	display:block;
	float:left;
	margin-right:5px;
	margin-left: 5px;
	}
	
.content .info_table tr td ul.action_link li a{
	width:20px;
	height:18px;
	text-indent: -9999px;
	display:block;
	}
	

ul.action_link li a.edit{background:url(../images/edit.png) no-repeat center center;}
ul.action_link li a.del{background:url(../images/delete.png) no-repeat center center;}
ul.action_link li a.up{background:url(../images/up.png) no-repeat center center;}
ul.action_link li a.down{background:url(../images/down.png) no-repeat center center;}


.content .info_table .abutton:hover{
	bacground-color:#1E89FB;
}

/* FORM TABLE */

.content table.form_table {
	margin:10px;
	
}

.content table.form_table tr:nth-child(even){
	background-color:#F5F5EB;
	}

.content table.form_table tr td{
	padding:3px 5px 5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:20px;
	color:#000;
	vertical-align:middle;
	
	}
	
.content table.form_table tr td:first-child{
	text-align:right;
	}
	
form.form_area input[type=text],
			input[type=password]  {
	font-family: Arial, Helvetica, sans-serif;
	width: 200px;
	height: 20px;
	border:1px solid #1e89fb;
	line-height:20px;
	padding:3px;
	outline:none;
	font-size:14px;
	}
	
form.form_area select, form.form_area input[type=number]{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	width:208px;
	height:25px;
	padding:3px;
	border:1px solid #1e89fb;
}
form.form_area input[type=number]{width:200px;}

form.form_area textarea {
	color: #000;
	border: 1px solid #1e89fb;
	line-height:1.2em;
	padding:2px;
	/*width:720px; */
	height:100px;
	overflow:auto;
	outline:none;
	resize: none;
}

/* BUTTON STYLE */

.button, a.button{
	font-family:Arial, Helvetica, sans-serif;
	padding:5px 10px;
	margin-right:10px;
	font-size:12px;
	text-transform:uppercase;
	border:1px ridge #FFF;
	background-color: #1e89fb;
	color:#FFF;
	cursor:pointer;
	text-decoration:none;
	}
